<h3 class="heading">{{editing ? "Edit" : "Create"}}</h3>

<form (ngSubmit)="save()">

    <mat-form-field *ngIf="editing">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="product.id" name="id" placeholder="ID" disabled>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="product.name" name="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="product.category" name="category" placeholder="Category">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="product.description" name="description" placeholder="Description">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="product.price" name="price" placeholder="Price">
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" mat-stroked-button
            routerLink="/admin/main/products">
        Cancel
    </button>
</form>
